@import 'Fonts';
@import 'Colors';

.details-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {

        
        img {
            width: 100vw;
            height: 400px;
            object-fit: cover;
            object-position: 0% -400px;
            //object-position: 0% -250px;
            margin-bottom: 20px;
        }
    }

    .text {
        width: 70vw;
    }

    p {
        margin: 5px;
        font-family: $josefin;
    }

    #top-section {
        border-top: none;
    }

    .section {
        //margin-bottom: 20px;
        margin: 0;
        padding: 10px 0 30px 0;
        border-top: 1px solid $pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.3);

        .section-header {
            color: $pink;
            margin: 0;
            margin-bottom: 10px;
            padding: 5px;
        }

        .sectionText {
            width: 90%;
            display: flex;
            justify-content: space-between;

            p {
                width: 80%;
            }
        

            img {
                height: 250px;
                width: 250px;
                object-position: 0 0;
            }

            .address {
                padding-bottom: 10px
            }

            .venue-info {
                padding-top: 10px;
            }

            .subheading {
                margin: 10px 5px;
            }

            .ending {
                padding: 10px 0;
            }

            .centre-text {
                text-align: center;
                width: 80%;
                margin: 10px auto;
               
                a {
                    text-decoration: none;
                    font-family: $josefin;
                    color: $pink;
                    margin-top: 5px;
                }

                a:hover {
                    text-decoration: underline;
                    color: $orange;
                }
            }

            .hotel-info {
                display: flex;
                flex-direction: column;
                align-items: center;
            

            .hotels {
                display: flex;
                justify-content: space-between;
                width: 100%;
            

            .hotel {
                margin: 15px 0;
                max-width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;


                

                .title {
                    font-weight: bold;
                    margin-bottom: 5px;

                }

                .instructions {
                    margin-top: 10px;
                }

                a {
                    text-decoration: none;
                    font-family: $josefin;
                    color: $pink;
                    margin-top: 5px;
                }

                a:hover {
                    text-decoration: underline;
                    color: $orange;
                }
            
            }
        }
        }
    }
    }
}

@media screen and (max-width: 600px) {
    .details-page {
        .image {

            img {
                height: 200px;
                object-position: 0% -10px;
            }
        }

        .text {
            width: 90vw;

        .section {

            .sectionText {
            display: flex;
            flex-direction: column;
            align-items: center;
             p {
                width: 80vw;
             }
        }

        #addressSection {
            display: flex;
            flex-direction: column-reverse;

            img {
                margin-bottom: 20px;
            }
        }

        .hotels {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .centre-text{
            width: 80vw;
            margin: 0;
        }
    }
}
}
}