@import './Colors';
@import './Fonts';

.testform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: $garamond;
    margin: 0 auto;
    width: 400px;

    input {
        margin: 5px 0px 10px 0px;
        background-color: transparent;
        border: 1px solid black;
        color: $pink;
        font-family: $garamond;
        font-size: 14px;
    }

    #name, #diet, #email, #name1, #name2, #diet1, #diet2, #email1, #email2 {
        width: 250px;
    }

    .radios {
        margin: 10px 0;
        display: flex;
        align-items: center;
    }

    .radios:nth-child(1){
        margin-right: 100px;
    }

    .radio {
        margin: 5px;
        display: flex;
        align-items: center;

        input {
            margin: 0 5px;
        }
    }

    .guest2 {
        margin-top: 10px;
    }

    .submit {
        margin: 10px 0;
        background-color: transparent;
        border: none;
        font-family: $dancing;
        font-size: 24px;
    }

    .submit:hover {
        color: $orange;
    }
}