@import 'Fonts';

.home-page {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .images {
        position: relative;
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
    }

    
    .couple-image {
        width: 450px;
        margin: 0 auto;
        z-index: 1;
    }

    .wreath-image {
        width: 850px;
        position: absolute;
        left: -200px;
        top: 80px;
        z-index: 0;
    }

    p {
        font-family: $dancing;
        font-size: 26px;
        width: 900px;
        text-align: center;
        padding: 0;
        margin: 10px;
        font-weight: bold;

    }
}