@import 'Fonts';

.home-page {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .images {
        position: relative;
       // border-bottom: 1px solid grey;
        margin: 20px 0;
    }

    #timer {
        font-family: $dancing;
        font-size: 24px;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
    }

    
    .couple-image {
        width: 450px;
        margin: 0 auto;
        z-index: 1;
    }

    .wreath-image {
        width: 850px;
        position: absolute;
        left: -200px;
        top: 80px;
        z-index: 0;
    }

    p {
        font-family: $dancing;
        font-size: 26px;
        width: 900px;
        text-align: center;
        padding: 0;
        margin: 10px;
//         font-weight: bold;

    }
}

.formFeedback {
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-family: $dancing;
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .home-page{
        text-align: center;

    .couple-image {
        width: 350px;
    }

    #timer {
        font-size: 16px;
    }

    p {
        font-size: 20px;
        width: 90vw;
        margin: 20px 0;
    }
}
}