@import 'Fonts';

.weddingparty {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;

    .side {
        width: 450px;
    }

    .headmember {
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;

        p {
            width: 400px;
            font-family: $garamond;
            font-size: 20px;
        }
    }

    h3 {

        font-family: $dancing;
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
    }

    h4 {
        font-family: $josefin;
        width: 100%;
        text-align: center;
        margin: 10px auto;
        font-size: 18px;
    }

    img {
        width: 300px;
        margin: 0 auto;
    }

    .italic {
        font-style: italic;
    }

    .members {

        display: flex;
            flex-direction: column;
            align-items: center;


        .member {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;

            p {
                font-family: $garamond;
                font-size: 20px;
                font-weight: 500;
            }


            img {
                width: 300px;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .weddingparty {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;

        .headmember {
            p {
                width: 85vw;
            }
        }

        p {
            width: 85vw;
            text-align: center;
        }

        .member {
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}