@import 'Fonts';

.weddingparty {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1000px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .side {
        width: 450px;
    }

    .headmember {
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;

        p {
            width: 400px;
            font-family: $garamond;
            font-size: 20px;
        }
    }

    h3 {

        font-family: $dancing;
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
    }

    h4 {
        font-family: $garamond;
        width: 100%;
        text-align: center;
        margin: 10px auto;
        font-size: 24px;
    }

    img {
        width: 300px;
        margin: 0 auto;
    }

    .italic {
        font-style: italic;
    }

    .members {

        display: flex;
            flex-direction: column;
            align-items: center;


        .member {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;

            p {
                font-family: $garamond;
                font-size: 20px;
                font-weight: 500;
            }


            img {
                width: 300px;
                margin: 0 auto;
            }
        }
    }

    .extra {
        border-top: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1000px;

        .single-extra {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;

            p {
                width: 650px;
                font-family: $garamond;
                font-size: 20px;
                font-weight: 500;
                text-align: center;

            }
        }

        .double-extra {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid black;
            padding-bottom: 40px;

            .extra-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 1000px;
            }

            .extra-side {
                display: flex;
                flex-direction: column;
                width: 400px;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .weddingparty {
        width: 90vw;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;

        .headmember {
            p {
                width: 85vw;
            }
        }

        p {
            width: 85vw;
            text-align: center;
        }

        .member {
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

        .extra {
            width: 90vw;

            .single-extra {
                p {
                    width: 80vw;
                }
            }

            .double-extra {
                width: 90vw;
            

            .extra-content {
                width: 90vw;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        }
    
}
}