@import './styles/Colors';
@import './styles/Fonts';
@import './styles/Nav';
@import './styles/Home';
@import './styles/Details';
@import './styles/WeddingParty';
@import './styles/Login';
@import './styles/RSVP';
@import './styles/LoggedOut';
@import './styles/Form';
@import './styles/About';

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url('./assets/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 600px) {
    body {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url('./assets/background.jpg');
        background-size: contain;
    }
}